// column title container
.column-container {
  margin: 8px;
  border: 1px solid grey;
  border-radius: 2px;
  width: 220px;
  background-color: rgb(230, 86, 61);

  display: flex;
  flex-direction: column;
}

.column-container > h3 {
  padding: 8px;
}

// where the cards exists.
.column-card-container {
  padding: 8px;
  flex-grow: 1;
  min-height: 100px;
}


