// column title container
.column-container {
  margin: 8px;
  border: 1px solid grey;
  border-radius: 2px;
  width: 220px;
  // background-color: rgb(230, 86, 61);
  background-color: $secondary-peppermint-red;
  display: flex;
  flex-direction: column;
  height: fit-content;
  border: 2px solid rgb(197, 121, 121);
  @include standardRadius;
}

.column-item-header {
  padding: 8px;

  textarea {
    width: 70%;
    font-family: $secondary-font;
    color: black;
    font-size: 30px;
    margin-top: 2px;
  }
  
}

// where the cards exists.
.column-card-container {
  border-top: 2px solid black;
  padding: 8px;
  flex-grow: 1;
  flex-direction: column;
  min-height: 100px;
  display: flex;
  box-sizing: border-box;
  height: fit-content;
  overflow-y: auto;
}

.column-card-container::-webkit-scrollbar {
    display: none;
}

.list-form-container {

  width: 230px;
  margin: 8px;
  height: 100%;
  // box-sizing: border-box;
  // display: inline-block;
  // vertical-align: top;
  // white-space: nowrap;
  
 
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  margin-bottom: 5px;
}

.list-form {
  margin-top: 4px;
  width: inherit;
  // padding: 4px 8px;
  // background-color: #ebecf0;
  // border: 2px solid black;
  // background-color: #57558a;
  // border-radius: 4px;
  // box-sizing: border-box;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  border: 1px solid black;
  border-radius: 3px;
  // background-color: #ebecf0;
  // background-color: #6699cc;
  background-color: #57558a;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  
}

.list-input-title {
  // font-size: 15px;
  // line-height: 30px;
  // padding: 8px 12px;
  // background-color: white;
  // border: none;
  // border-radius: 3px;

  font-family: $secondary-font;
  font-size: 17px;
  line-height: 20px;
  padding: 8px 12px;
  background-color: white;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 3px;
}

.list-input-title:focus {
  box-shadow: inset 0 0 0 2px #e6563d;
}

.list-input-submit {
  // background-color: #e6563d;
  // box-shadow: none;
  // border: none;
  // border-radius: 3px;
  // color: white;
  // height: 32px;
  // margin-top: 4px;
  // padding-top: 4px;
  // padding-bottom: 4px;
  // cursor: pointer;
  // line-height: 20px;
  // width: 72px;
  // font-size: 14px;
  font-family: $secondary-font;
  color: white !important;
  background-color: $secondary-peppermint-red !important;
  box-shadow: none;
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  height: 32px;
  margin-top: 4px;
  margin-bottom: 3px;
  margin-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  line-height: 20px;
  width: 80px;
  font-size: 15px;
  text-emphasis: bold;
}

.list-input-submit:hover {
  background-color: white;
  color: black;
}

.list-input-submit[disabled] {
  cursor: not-allowed;
  background-color: #f4f5f7;
  color: #a5adba;
}

.list-name-editor {
  background: transparent;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  font-weight: 600;
  font-size: 16px;
  margin: -4px 0;
  padding: 4px 8px;
  max-height: 256px;
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
  cursor: pointer;
  font: inherit;
  box-sizing: border-box;
}

.list-name-editor:focus {
  background-color: white;
  cursor: text;
}

.remove-clmn-btn {
  font-family: $secondary-font;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 4px;
  margin: auto;
  margin-top: 25px;
  width: 60%;
  padding: 4px;
  background-color: rgb(53, 50, 50);
  color: whitesmoke;


}


