.card-container {
  border: 1px solid grey;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: rgb(255, 255, 255);
  min-height: 30px;
  border: 1px solid black;
  font-family: $secondary-font;
  background-image: linear-gradient(whitesmoke, #FAF0F8);

}

.card-form-container {
  border: 2px solid rgb(196, 196, 196);
  border-radius: 3px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.card-form {
  width: inherit;
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-input-title {
  font-size: 14px;
  line-height: 20px;
  padding: 8px 12px;
  background-color: white;
  border: none;
  border-radius: 3px;
}

.card-input-title:focus {
  box-shadow: inset 0 0 0 2px #e6563d;
  background-color: white;
  cursor: text;
}

.card-input-submit {
  background-color: #e6563d;
  box-shadow: none;
  border: none;
  border-radius: 3px;
  color: white;
  height: 32px;
  margin-top: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  line-height: 20px;
  width: 80px;
  font-size: 14px;
}

.card-input-submit:hover {
  background-color: white;
  color: black;
}

.card-input-submit[disabled] {
  cursor: not-allowed;
  background-color: #f4f5f7;
  color: #a5adba;
}