.card-show {
  // background-color: hsl(0, 15%, 77%);
  // background-image: linear-gradient(to bottom, rgb(206, 202, 202), rgb(236, 182, 182));
  background-color: $secondary-peppermint-red;
  width: 100%;
  max-width: calc(100vw - 20px);
  min-width: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 15px 20px 5px 15px;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 16%;
}

/* X close button */

.card-show-close {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 26px;
  color: rgb(255, 255, 255);
  z-index: 3;
}

.card-show-close:hover {
  color: rgb(50, 50, 50);
  cursor: pointer;
}

#card-show-icons {

  font-size: 20px;
  
}

/* title */

.card-title-icon {
  position: absolute;
  left: -35px;
  top: 5px;
  // display: flex;
  // flex-direction: row;
  

  h3 {
    position: relative;
    left: 30px;
    bottom: 22px;
    font-size: 26px;

    

  }
}

.card-title-container {
  position: relative;
  margin-left: 35px;
  margin-bottom: 15px;
}

.card-title-editor {
  resize: none;
  top: 17px;
  color: white;
  position: relative;
  font-family: $secondary-font;
  left: -6px;
  width: calc(100% - 50px);
  height: 30px;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.03em;
  background: transparent;
  border: 2px solid transparent;
  padding: 0 4px;
}

.card-title-editor::-webkit-scrollbar {
    display: none;
}

.card-show-listname {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0px;
}

/* description */

.card-description {
  margin-bottom: 24px;
}

.card-description-top {
  display: flex;
  align-items: center;
  padding: 8px 0;
  position: relative;
}

.card-description-top > h3 {
  display: inline-block;
  margin: 0;
  padding-left: 12px;
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
}

.card-description-editor {
  resize: none;
  overflow-y: scroll;
  margin-left: 30px;
  width: 500px;
  font-size: 20px;
  // background: transparent;
  background-color: #6d6767;
  border: 1px solid black;

  font-family: $secondary-font;
  // border: 2px solid transparent;
  color: white;
}

.card-description-editor::-webkit-scrollbar {
    display: none;
}

.card-description-editor::placeholder {
  color: #5e6c84;
}

.show-card-delete {
  font-family: $secondary-font;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 4px;
  margin: auto;
  margin-top: 25px;
  width: 60%;
  padding: 4px;
  background-color: rgb(53, 50, 50);
  color: whitesmoke;


}