// where everything exists
// .dashboard-container {
//   display: flex;
// }

.dashboard-container {
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
}

.dashboard-container::-webkit-scrollbar {
    display: none;
}