

.navbar-container {
  // background-color: $peppermint-red;
  background-image: linear-gradient(to bottom right, $primary-peppermint-red, $secondary-peppermint-red);
  height: 40px;
  padding: 18px 30px 18px 15px;
  box-shadow: $light-box-shadow;


}