.splash-page-container {
  // background-color: whitesmoke;
  // background-image: linear-gradient(whitesmoke, #FFB6C1);
  background-image: linear-gradient(whitesmoke, #FAF0F8);
  height: auto;
  width: auto;

  // height: 200vh;

  header {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

  .splash-page-top {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    


    .butler-gif {
      // position: relative;
      height: 430px;
      max-width: auto;
      margin-left: 20px;
    
    }

    .splash-page-main-words{
      margin-top: 5%;
      margin-right: 100px;
      
    
      h1 {
        color: $primary-peppermint-red;
        font-size: 150px;
        // font-size: 10vw;
        font-family: $title-font;
        margin-top: 50px;
        padding-left: 15px;
      }
      p {
        color: $secondary-peppermint-red;
        
  
        text-align: center;
        font-size: 34px;
        font-family: $secondary-font;
        line-height: 2%;
      }
    }

  }





.start-buttons-container {
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // // background-color: #43464B;
  // background-color: $secondary-peppermint-red;
  // // border: 2px solid silver;
  // border: 2px solid $primary-peppermint-red;
  // padding: 20px 15px 20px 15px;
  width: 63%;
  // margin-left: 16%;
  margin-top: 7%;
  // @include standardRadius;

  .left-start-btn {
  background-color: $secondary-peppermint-red;
  font-family: $secondary-font;
  color: whitesmoke;
  font-size: 25px;
  border: none;
  border-right: 1px solid transparent;
  // margin-right: 1px;
  outline: none;

  height: 70px;
  width: 200px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  // border-width: 1px;
  // border-radius: 4px;
  // border-top-color: rgba(0, 0, 0, 0.1);
  // border-right-color: rgba(0, 0, 0, 0.1);
  // border-bottom-color: rgba(0, 0, 0, 0.25);
  // border-left-color: rgba(0, 0, 0, 0.1);
  padding-bottom: 1px;
  box-shadow: 0 2px 0 0 rgba(55,59,63,0.5);



  }

  .right-start-btn {
      // background-color: white;
  background-color: $secondary-peppermint-red;
  font-family: $secondary-font;
  color: whitesmoke;
  // color: $primary-peppermint-red;
  // font-family: $title-font;
  font-size: 25px;
  border-left: 1px solid transparent;
  border: none;
  outline: none;

  height: 70px;
  width: 200px;
  // border-width: 1px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  // border-top-color: rgba(0, 0, 0, 0.1);
  // border-right-color: rgba(0, 0, 0, 0.1);
  // border-bottom-color: rgba(0, 0, 0, 0.25);
  // border-left-color: rgba(0, 0, 0, 0.1);
  padding-bottom: 1px;
  box-shadow: 0 2px 0 0 rgba(55,59,63,0.5);
  }

  .left-start-btn:hover {
    box-shadow: none;
    margin-top: 1px;
  }
  
  
  .right-start-btn:hover {
    box-shadow: none;
    margin-top: 1px;
    }

}






.splash-page-body {
  margin-top: 100px;

  li:nth-child(even) {
    flex-direction: row-reverse;

  }
  
  li {
    

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 60px;
    margin-bottom: 200px;


    img {
      max-height: 520px;
      height: 100%;
      max-width: 50%;
      width: 45%;
      @include standardRadius;
    }

    h1 {
      font-family: $title-font;
      color: $secondary-peppermint-red;
      font-size: 70px;


      p {
        font-family: $secondary-font;
        color: black;
        margin-left: 5px;
        font-size: 22px;
        width: 500px;
        line-height: 25px;
      }

    }




  }

  .butler-pocket {
    // max-height: 500px;
    max-width: 30%;
    border-radius: 200px 60px 40px 10px;
  }


  

}