.tutorial-bg {
  background-image: linear-gradient(whitesmoke, #faf0f8);
  background-repeat: repeat-y;
}

.tutorial {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  // a {
  //   text-decoration: underline;
  //   -webkit-text-decoration-color: red; /* Safari */
  //   text-decoration-color: red;
  // }

  h1 {
    font-family: "Modak", cursive;
    font-size: 70px;
    color: #ea3c3d;
  }
  h3 {
    font-family: "Modak", cursive;
    font-size: 48px;
    color: #ea3c3d;
  }
  h1:last-child {
    margin-top: 50px;
  }
  p {
    font-size: 20px;
    font-family: $secondary-font;
  }
  .tutorial-steps {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    .inner-text {
      padding: 20px;
    }
    img {
      @include standardRadius;
      width: 40%;
      height: 200px;
    }
  }
}

.tutorial-to-dashboard {
  text-decoration: none;

  h1 {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  h1:hover {
    font-size: 80px;
  }
}
