.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(9, 29, 36, 0.185);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modal-child {
  display: block;
  background-color: transparent;
  border: none;
  margin-top: 36px;
  padding-top: 24px;
  width: auto;
}